body {
  margin: 0;
  padding: 0;
}
#search-box {
  height: 40px;
}
.current-weather {
  border: 2px solid black;
  border-radius: 15px;
  padding: 0.5rem;
}
.uv-index {
  padding: 0.5rem;
  color: white;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}
